h1 {
    font-size: 80px;
}

.bg_color_container {
    background-color: #083b4c;
}

.bg_color_standard {
    background-color: #1389b2;
}

.bg_color_fizz {
    background-color: #0bd6a1;
}

.bg_color_buzz {
    background-color: #ffd166;
}

.bg_color_fizz_buzz {
    background-color: #f0466f;
}

.row_cols_7 {
    
}

.col_w {
    flex: 0 0 calc(100% / 7);
}

.span_center_and_font {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 600;
}